[alias]
	st    = status
	df    = diff
	dfc   = diff --cached
	ci    = commit -v
	co    = checkout
	br    = branch
	amend = commit --amend -v
	tree = log --graph --date=relative --pretty='%C(auto)%h%d (%ad) %Cgreen%an%Creset : %s'
	graph = log --oneline --graph --decorate
[user]
	name  = key-amb
	email = yasutake.kiyoshi@gmail.com
[push]
	default = simple
[help]
	autocorrect = 1
[color]
	ui = true
[core]
	editor = vim
